upstream helloweb {
        {{range getvs "/helloweb/*"}}
                server {{.}};
        {{end}}
}

server {
        listen 80 default_server;
        listen [::]:80 default_server ipv6only=on;

        root /usr/share/nginx/html;
        index index.html index.htm;

        server_name localhost;

        location / {
                proxy_pass        http://helloweb;
                proxy_redirect    off;
                try_files $uri $uri/ =404;
        }

}
